html {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: #51B19C !important;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: normal;
  padding-top: 1em;
}

p {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

h1, h3, h5 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600 !important;
}

h2, h4, h6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
}

.display-1, .display-2, .display-3, .display-4, .display-5, .display-6 {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 600 !important;
  text-transform: uppercase;
}

h2.bibliography {
  font-size: 1.5rem !important;
}

.button {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

blockquote {
  margin: 0;
}

blockquote p {
  padding: 15px;
  background: #eee;
  border-radius: 5px;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article img:not(.card-img-top) {
  max-width: 80%;
  max-height: 80%;
  height: inherit !important;
  display: block;
  margin: auto;
}
article .card-img-top {
  width: 100%; /* Make image width responsive to card width */
  aspect-ratio: 1/1; /* Maintain square aspect ratio */
  object-fit: cover;
}
article .keynote-image {
  width: 100%; /* Make image width responsive to card width */
  aspect-ratio: 1/1; /* Maintain square aspect ratio */
  object-fit: cover;
  max-width: 500px !important;
}
article .display-1, article .display-2, article .display-3, article .display-4, article .display-5, article .display-6 {
  text-align: center;
}

.nav-item .active {
  font-weight: 900;
}
.nav-item:hover {
  font-weight: 900;
  color: #97a7b6;
}

.container a, main a {
  color: #5f6e62;
  font-weight: 500;
}
.container a:hover, main a:hover {
  color: #FFF;
  background: linear-gradient(90deg, #bd5c6f, #b69255) !important;
}

.navbar-brand {
  font-weight: 900;
}

.feature-image {
  position: relative;
  width: 100%;
  padding-top: 23.7%;
  background-size: cover;
  background-position: center;
}

.warning-box, .info-box, .callout-box {
  padding: 1rem;
  border-top: 4px solid get-color-level(#000000, 3);
  background-color: get-color-level(#000000, 4);
  margin: 1rem 0;
}
.warning-box *:first-child, .info-box *:first-child, .callout-box *:first-child {
  margin-top: 0;
}
.warning-box *:last-child, .info-box *:last-child, .callout-box *:last-child {
  margin-bottom: 0;
}

.info-box {
  border-color: #b69255;
  background: rgb(246.24, 241.92, 234.6);
}

.warning-box {
  border-color: #bd5c6f;
  background: rgb(247.08, 235.44, 237.72);
}

/*# sourceMappingURL=styles.css.map */